* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.nimadir {
  background-color: black;
  border-radius: 20 px;
}
input {
  border-radius: 20px;
  text-align: center;
}
